<h3 class="w-100">Iniciar sesión</h3>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="row">
  <div class="col-12">
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>
  </div>
  <div class="col-12">
    <mat-form-field class="w-100">
      <mat-label>Contraseña</mat-label>
      <input formControlName="password" [type]="passwordInputType" matInput />
      <button type="button" (click)="togglePasswordInputType()" matSuffix mat-icon-button>
        <mat-icon>{{passwordInputType=='password' ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-12">
    <button mat-fab extended type="submit" class="w-100 btn-ingresar">Ingresar</button>
  </div>
</form>