<mat-toolbar class="toolbar">
  <button (click)="toggleSideBar()" mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="d-flex justify-content-between align-items-center w-100 h-100">
    <span appTitleFontSize>Gestión de usuarios</span>
    <span class="mx-2">{{ pageTitle$ | async }}</span>
    <ng-container *ngIf="authStudent$ | async as authStudent">
      <div class="h-50" *ngIf="authStudent.role  === 'admin'">
        <p>Hola Admin, {{ authStudent.firstName }} {{ authStudent.lastName }}</p>
      </div>
      <div class="h-50" *ngIf="authStudent.role  !== 'admin'">
        <p>Hola, {{ authStudent.firstName }} {{ authStudent.lastName }}</p>
      </div>
    </ng-container>
  </div>
</mat-toolbar>
