<mat-drawer #drawer [(opened)]="isDrawerOpen" class="example-sidenav" mode="side">
  <p appTitleFontSize class="menu">Menú</p>
  <mat-nav-list>
    <a routerLink="home" mat-list-item (click)="toggleDrawer()">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </a>
    <a routerLink="clases" mat-list-item (click)="toggleDrawer()">
      <mat-icon>work</mat-icon>
      <span>Clases</span>
    </a>
    <a routerLink="courses" mat-list-item (click)="toggleDrawer()">
      <mat-icon>book</mat-icon>
      <span>Cursos</span>
    </a>
    <a routerLink="students" mat-list-item (click)="toggleDrawer()">
      <mat-icon>group</mat-icon>
      <span>Alumnos</span>
    </a>
    <a routerLink="users" mat-list-item (click)="toggleDrawer()">
      <mat-icon>group</mat-icon>
      <span>Usuarios</span>
    </a>
    <a (click)="logout()" mat-list-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </a>
  </mat-nav-list>
</mat-drawer>
