<mat-drawer #drawer [(opened)]="isDrawerOpen" class="example-sidenav" mode="side">
  <p appTitleFontSize class="menu">Menú</p>
  <mat-nav-list>
    <a routerLinkActive #homeLink="routerLinkActive" routerLink="home" mat-list-item (click)="toggleDrawer()">Inicio</a>
    <a routerLinkActive #clasesLink="routerLinkActive" routerLink="clases" mat-list-item
      (click)="toggleDrawer()">Clases</a>
    <a routerLinkActive #coursesLink="routerLinkActive" routerLink="courses" mat-list-item
      (click)="toggleDrawer()">Cursos</a>
    <a routerLinkActive #studentsLink="routerLinkActive" routerLink="students" mat-list-item
      (click)="toggleDrawer()">Alumnos</a>
    <a (click)="logout()" mat-list-item>Cerrar sesión</a>
  </mat-nav-list>
</mat-drawer>