.dialog-title {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.dialog-title mat-icon {
  margin-right: 10px;
}

.dialog-content {
  padding: 20px;
}

.course-details-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-info p {
  margin: 10px 0;
  font-size: 1rem;
}

mat-dialog-actions {
  padding: 16px 24px;
}

.date-row {
  display: flex;
  gap: 50px;
}

mat-flat-button {
  padding: 8px 24px;
  font-weight: 600;
}


.green-button {
  background: #4CAF50 !important;
  color: white !important;
}

.green-button mat-icon {
  margin-right: 8px;
}
