<div class="container">
  <h4>Seleccione un curso</h4>
  <mat-form-field>
    <mat-label>Curso</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="course" (selectionChange)="onCourseChange($event)">
      <mat-option *ngFor="let course of listOfCourses" [value]="course.id">
        {{course.course}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  @if(selectedValue!=''){
  <button mat-fab extended (click)="openModal()" class="btn-crear-clase">
    <mat-icon>add</mat-icon>
    Agregar clase
  </button>

  <table mat-table [dataSource]="listOfClases" class="mat-elevation-z10">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Clase</th>
      <td color="red" app-hightlight mat-cell *matCellDef="let clase">{{ clase.title }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let clase">{{ clase.date | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duración</th>
      <td mat-cell *matCellDef="let clase">{{ clase.duration }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let clase">
        <button mat-icon-button (click)="viewDetails(clase)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button *ngIf="isAdmin" mat-icon-button (click)="openModal(clase)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="isAdmin" mat-icon-button (click)="onDelete(clase)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  }
</div>