// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$custom-font-color: #FFA500;

// Define the theme object.
$proyecto-final-PISARRA-Guido-59435-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$magenta-palette,
      ),
      density: (scale: 0,
      ),
    ));


:root {
  @include mat.all-component-themes($proyecto-final-PISARRA-Guido-59435-theme);
}

html,
body {
  height: 100%;
  color: $custom-font-color !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $custom-font-color !important;
}
